.app {
  display: flex;
  flex-direction: column;
 
  font-family: 'Arial, sans-serif';
  height: 100vh; /* Ensure it covers the full viewport height */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  // background-color: #343a40;
  background-color: #1b1c20;
  color: #fff;
}

.narrow-tab {
  width: 50%;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-right: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}


.save-btn {
  background-color: #28a745;
}


.save-btn:hover {
 
  transition: transform 0.3s ease;
  transform: scale(1.07);
}

.share-btn {
  background-color: #007bff;
}

.profile {
  margin-left: 15px;
}

.main {
  display: flex;
  flex: 1;
  background-color: #272a2f;
}

.sidebar-container {
  display: flex;
  margin-left: '5%';
  

}



.sidebar {
  width: 100px;
  background-color: #131315;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: 'white'; 
  height: 60%;
}

.sidebar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  // background-color: #fff;
  // border: 1px solid #dee2e6;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #e2e6ea;
}

.sidebar button span {
  margin-top: 5px;
  font-size: 12px;
}


.tab-container {
  position: absolute; /* Position it absolutely */
  top: 77px; /* Offset by the header height */
  left: 110px; /* Offset by the sidebar width */
  background-color: 'transparent';
  transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
  display: none;
  z-index: 2; /* Ensure it appears on top */
  opacity: 0; 
  width: 20%;
  height: 10%;
  
  
}



.tab-container.open {
  display: block;
  // padding: 20px;
  opacity: 1; /* Set opacity to 1 when open */
  // margin-top: '10%';
}

.tab {
  padding: 17px;
  background-color: #131315;
  // border: 1px solid #dee2e6;
  border-radius: 10px;
  color: 'white';
 
  
}

.tab h4 {
  margin-top: 0;
}

.tab button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.tab button:hover {
  background-color: #e2e6ea;
  transition: transform 0.3s ease;
  transform: scale(1.07);
}

.canvas-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272a2f;
  position: relative; /* Ensure it stays relative to its container */
  z-index: 1; /* Ensure it stays below the tab-container */
}

.canvas {
  width: 65%;
  height: 65%;
  // border: 2px solid blue;
  background-color: #f8f9fa;
}

.sample-canvas {
  // border: 3px solid salmon;
  width: 100%;
  height: 100%;
}


.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1%;
}

.toolbar label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.toolbar select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.toolbar input[type="color"] {
  padding: 0;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.canvas-area.sidebar-open {
  transform: translateX(1); /* Move right to make room for sidebar */
}


.custom-scrollbar:hover::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}


.custom-scrollbar {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  width: 100%;
  
}

.zoom-hover {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.zoom-hover:hover {
  transform: scale(1.05); /* Scale the image to 110% on hover */
}